flow.json
[
    {
        "id": "f679c5ec.fb0428",
        "type": "tab",
        "label": "ks-Anonymization",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ed02ca62.53a888",
        "type": "tab",
        "label": "Smart Metering Emulator",
        "disabled": false,
        "info": ""
    },
    {
        "id": "540182c4.0cacec",
        "type": "tab",
        "label": "Test Emulator Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "19ca91ba.af4a0e",
        "type": "group",
        "z": "ed02ca62.53a888",
        "name": "Emulate Streaming Data behavior",
        "style": {
            "fill": "#ffdf7f",
            "label": true,
            "stroke": "#ffcf3f",
            "stroke-opacity": "0.9",
            "color": "#000000",
            "fill-opacity": "0.54"
        },
        "nodes": [
            "35d218ec.92f1a8",
            "e037e8eb.0ee838",
            "1254bb0d.f4bed5",
            "64956d74.3c8114",
            "7cd7f126.df78f",
            "dea57652.5dd918",
            "30d43126.1cfa7e",
            "af7a7e82.6723",
            "e40e3cc8.f834a",
            "cd3849d4.f79028",
            "28a756fd.4545fa",
            "32da1711.188a98",
            "3265ef6c.64d51",
            "c31fb50a.688e08",
            "ea0e6436.fe7f48",
            "654f3a99.58aee4",
            "ba07826a.d32f7",
            "6b539d68.cb4084",
            "229b79e8.7b8126",
            "a959b3c1.798d9",
            "f693f0a.47f881",
            "641acf84.f005d",
            "e09eb717.fa45b8",
            "8174f40c.6028c8",
            "823ba3c8.21647",
            "37f1ba8b.669dd6",
            "662a9b9d.ee6c94"
        ],
        "x": 1914,
        "y": 599,
        "w": 692,
        "h": 562
    },
    {
        "id": "e18cf721.789868",
        "type": "group",
        "z": "ed02ca62.53a888",
        "name": "generate car owner persona list once",
        "style": {
            "label": true
        },
        "nodes": [
            "9aa878b2.7e4fc8",
            "635f82f5.5031ec",
            "e0245f42.72c66",
            "8b59e67.5003e18",
            "d12d92da.acfee"
        ],
        "x": 54,
        "y": 579,
        "w": 872,
        "h": 122
    },
    {
        "id": "bb4f1610.11fe18",
        "type": "group",
        "z": "ed02ca62.53a888",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ae590747.f884b8",
            "bf7b10fd.4b39",
            "32b22e53.929182"
        ],
        "x": 54,
        "y": 399,
        "w": 452,
        "h": 122
    },
    {
        "id": "261b9b5a.56f684",
        "type": "mqtt-broker",
        "name": "fog_emulator_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "92cced2f.5395",
        "type": "exec",
        "z": "f679c5ec.fb0428",
        "command": "",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 320,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "2097ef3.1882b9",
        "type": "json",
        "z": "f679c5ec.fb0428",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 190,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "232c3c76.a9359c",
        "type": "batch",
        "z": "f679c5ec.fb0428",
        "name": "",
        "mode": "count",
        "count": 10,
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": ""
            }
        ],
        "x": 670,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "451e0ea.47d637",
        "type": "batch",
        "z": "f679c5ec.fb0428",
        "name": "",
        "mode": "count",
        "count": 10,
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": ""
            }
        ],
        "x": 350,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "29e1f3f2.349704",
        "type": "complete",
        "z": "f679c5ec.fb0428",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 830,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f9c74a41.24ba2",
        "type": "catch",
        "z": "f679c5ec.fb0428",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 670,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "bcab76b9.050c38",
        "type": "inject",
        "z": "ed02ca62.53a888",
        "name": "Create basic smatermetering data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "energy_data",
        "payload": "{\"smart_meter_id\":\"1\",\"building_id\":\"1\",\"community_id\":\"1\",\"timestamp\":\"\",\"energy_consumption\":\"\"}",
        "payloadType": "json",
        "x": 500,
        "y": 280,
        "wires": [
            [
                "b6343260.057ee"
            ]
        ]
    },
    {
        "id": "b6343260.057ee",
        "type": "function",
        "z": "ed02ca62.53a888",
        "name": "Add Timestamp",
        "func": "msg.payload.timestamp = new Date()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 280,
        "wires": [
            [
                "19382ee0.2e6021"
            ]
        ]
    },
    {
        "id": "6d4ca4d0.3a7dec",
        "type": "debug",
        "z": "ed02ca62.53a888",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 200,
        "wires": []
    },
    {
        "id": "19382ee0.2e6021",
        "type": "function",
        "z": "ed02ca62.53a888",
        "name": "Randomize consumption",
        "func": "min = 0;\nmax = 100;\nmsg.payload.energy_consumption = (Math.random() * (max - min +1)) + min;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 280,
        "wires": [
            [
                "6d4ca4d0.3a7dec",
                "e3b00dfb.9718"
            ]
        ]
    },
    {
        "id": "e3b00dfb.9718",
        "type": "link out",
        "z": "ed02ca62.53a888",
        "name": "",
        "links": [
            "8dbd5f4.b87dfa"
        ],
        "x": 1605,
        "y": 280,
        "wires": []
    },
    {
        "id": "8dbd5f4.b87dfa",
        "type": "link in",
        "z": "f679c5ec.fb0428",
        "name": "Smart Metering Data",
        "links": [
            "e3b00dfb.9718"
        ],
        "x": 275,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "f6fed640.1136b8",
        "type": "exec",
        "z": "f679c5ec.fb0428",
        "command": "python3 \"C:\\Users\\Roschy\\Downloads\\CASTLEGUARD-master\\src\\main.py\"  ",
        "addpay": "",
        "append": " --filename \"C:\\Users\\Roschy\\Downloads\\CASTLEGUARD-master\\example.csv\" --sample-size 1000 --k 10 --l 5 --delta 200 --seed 42 --disable-dp --display --history",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "run CASTLEGUARD with exampledata",
        "x": 610,
        "y": 920,
        "wires": [
            [
                "cf0b65f9.007318"
            ],
            [
                "cf0b65f9.007318"
            ],
            [
                "cf0b65f9.007318"
            ]
        ]
    },
    {
        "id": "cf0b65f9.007318",
        "type": "debug",
        "z": "f679c5ec.fb0428",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 920,
        "wires": []
    },
    {
        "id": "b61e65dd.8c1408",
        "type": "inject",
        "z": "f679c5ec.fb0428",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 920,
        "wires": [
            [
                "f6fed640.1136b8"
            ]
        ]
    },
    {
        "id": "37891673.84bf2a",
        "type": "csv",
        "z": "ed02ca62.53a888",
        "name": "convert csv to object stream",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 600,
        "y": 820,
        "wires": [
            [
                "cb546c79.86a36"
            ]
        ]
    },
    {
        "id": "49c088f6.9ba0c8",
        "type": "file in",
        "z": "ed02ca62.53a888",
        "name": "load file example csv",
        "filename": "G:\\Uni\\Peng\\data\\Electric_Vehicle_Charging_Station_Energy_Consumption (1).csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 360,
        "y": 820,
        "wires": [
            [
                "37891673.84bf2a"
            ]
        ]
    },
    {
        "id": "abe891b5.42669",
        "type": "inject",
        "z": "ed02ca62.53a888",
        "name": "click to start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 820,
        "wires": [
            [
                "49c088f6.9ba0c8"
            ]
        ]
    },
    {
        "id": "35d218ec.92f1a8",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2180,
        "y": 640,
        "wires": [
            [
                "e037e8eb.0ee838"
            ]
        ]
    },
    {
        "id": "c26eb7cb.5e5418",
        "type": "switch",
        "z": "ed02ca62.53a888",
        "name": "",
        "property": "payload.Station_Name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BOULDER / AIRPORT ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / ALPINE ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / ANNEX ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / ATRIUM ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / BASELINE ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / BOULDER PARK S1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / BOULDER PARK S2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / CARPENTER PARK1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / CARPENTER PARK2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / EAST REC",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / FACILITIES ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / JUNCTION ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / N BOULDER REC 1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / REC CENTER ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / REC CENTER ST2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / RESERVOIR ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / RESERVOIR ST2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDERJUNCTION / JUNCTION ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 1000WALNUT1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 1000WALNUT2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 1100WALNUT1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 1104 SPRUCE1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 1400 WALNUT1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 1500PEARL1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 1500PEARL2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 2200 BROADWAY1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / BOULDER JCTN",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 27,
        "x": 1650,
        "y": 820,
        "wires": [
            [
                "e40e3cc8.f834a"
            ],
            [
                "cd3849d4.f79028"
            ],
            [
                "28a756fd.4545fa"
            ],
            [
                "32da1711.188a98"
            ],
            [
                "ea0e6436.fe7f48"
            ],
            [
                "6b539d68.cb4084"
            ],
            [
                "f693f0a.47f881"
            ],
            [
                "8174f40c.6028c8"
            ],
            [
                "662a9b9d.ee6c94"
            ],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "e037e8eb.0ee838",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/AIRPORT_ST1",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2420,
        "y": 640,
        "wires": []
    },
    {
        "id": "a696094b.7a8d38",
        "type": "mqtt in",
        "z": "540182c4.0cacec",
        "name": "",
        "topic": "BOULDER/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "261b9b5a.56f684",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 420,
        "y": 560,
        "wires": [
            [
                "27eaa992.590db6"
            ]
        ]
    },
    {
        "id": "3b23a87d.ceba08",
        "type": "debug",
        "z": "540182c4.0cacec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 560,
        "wires": []
    },
    {
        "id": "1254bb0d.f4bed5",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2180,
        "y": 700,
        "wires": [
            [
                "64956d74.3c8114"
            ]
        ]
    },
    {
        "id": "64956d74.3c8114",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/ALPINE_ST1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2410,
        "y": 700,
        "wires": []
    },
    {
        "id": "7cd7f126.df78f",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2180,
        "y": 760,
        "wires": [
            [
                "dea57652.5dd918"
            ]
        ]
    },
    {
        "id": "dea57652.5dd918",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/ANNEX_ST1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2410,
        "y": 760,
        "wires": []
    },
    {
        "id": "30d43126.1cfa7e",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2180,
        "y": 820,
        "wires": [
            [
                "af7a7e82.6723"
            ]
        ]
    },
    {
        "id": "af7a7e82.6723",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/ATRIUM_ST1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2410,
        "y": 820,
        "wires": []
    },
    {
        "id": "27eaa992.590db6",
        "type": "json",
        "z": "540182c4.0cacec",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 560,
        "wires": [
            [
                "3b23a87d.ceba08"
            ]
        ]
    },
    {
        "id": "e40e3cc8.f834a",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1990,
        "y": 640,
        "wires": [
            [
                "35d218ec.92f1a8"
            ]
        ]
    },
    {
        "id": "cd3849d4.f79028",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1990,
        "y": 700,
        "wires": [
            [
                "1254bb0d.f4bed5"
            ]
        ]
    },
    {
        "id": "28a756fd.4545fa",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1990,
        "y": 760,
        "wires": [
            [
                "7cd7f126.df78f"
            ]
        ]
    },
    {
        "id": "32da1711.188a98",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1990,
        "y": 820,
        "wires": [
            [
                "30d43126.1cfa7e"
            ]
        ]
    },
    {
        "id": "3265ef6c.64d51",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2180,
        "y": 880,
        "wires": [
            [
                "c31fb50a.688e08"
            ]
        ]
    },
    {
        "id": "c31fb50a.688e08",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/BASELINE_ST1",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2420,
        "y": 880,
        "wires": []
    },
    {
        "id": "ea0e6436.fe7f48",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1990,
        "y": 880,
        "wires": [
            [
                "3265ef6c.64d51"
            ]
        ]
    },
    {
        "id": "654f3a99.58aee4",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2180,
        "y": 940,
        "wires": [
            [
                "ba07826a.d32f7"
            ]
        ]
    },
    {
        "id": "ba07826a.d32f7",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/BOULDER_PARK/S1",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2440,
        "y": 940,
        "wires": []
    },
    {
        "id": "6b539d68.cb4084",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1990,
        "y": 940,
        "wires": [
            [
                "654f3a99.58aee4"
            ]
        ]
    },
    {
        "id": "229b79e8.7b8126",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2180,
        "y": 1000,
        "wires": [
            [
                "a959b3c1.798d9"
            ]
        ]
    },
    {
        "id": "a959b3c1.798d9",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/BOULDER_PARK/S2",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2440,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f693f0a.47f881",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1990,
        "y": 1000,
        "wires": [
            [
                "229b79e8.7b8126"
            ]
        ]
    },
    {
        "id": "641acf84.f005d",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2180,
        "y": 1060,
        "wires": [
            [
                "e09eb717.fa45b8"
            ]
        ]
    },
    {
        "id": "e09eb717.fa45b8",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/CARPENTER_PARK/1",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2440,
        "y": 1060,
        "wires": []
    },
    {
        "id": "8174f40c.6028c8",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1990,
        "y": 1060,
        "wires": [
            [
                "641acf84.f005d"
            ]
        ]
    },
    {
        "id": "823ba3c8.21647",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2180,
        "y": 1120,
        "wires": [
            [
                "37f1ba8b.669dd6"
            ]
        ]
    },
    {
        "id": "37f1ba8b.669dd6",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/CARPENTER_PARK/2",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2440,
        "y": 1120,
        "wires": []
    },
    {
        "id": "662a9b9d.ee6c94",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1990,
        "y": 1120,
        "wires": [
            [
                "823ba3c8.21647"
            ]
        ]
    },
    {
        "id": "9aa878b2.7e4fc8",
        "type": "function",
        "z": "ed02ca62.53a888",
        "g": "e18cf721.789868",
        "name": "generate car owners",
        "func": "\ncustomer_list = Array();\ncars_brands_and_modells = [\n    [\"Audi\", \"e-tron 55\", \"e-tron 50\"],\n    [\"BMW\", \"i3\"],\n    [\"Ford\", \"Focus Electric\", \"Mustang Mach-E\", \"Ford F-150 Lightning electric pickup\"],\n    [\"Hyundai\", \"Ioniq Electric\", \"Kona Electric\"],\n    [\"Jaguar\", \"I-Pace\"],\n    [\"Mercedes-Benz\", \"B-Class Electric Drive\", \"EQC\"],\n    [\"Peugeot\", \"Peugeot iOn\", \"e208\", \"e2008\"],\n    [\"Renault\", \"Fluence Z.E.\", \"SM3 Z.E.\", \"Zoe\", \"Twizy\", \"Kangoo Z.E.\"],\n    [\"Tesla\", \"Model S\", \"Model X\", \"Model 3\", \"Model Y\"],\n    [\"Tesla\", \"Model S\", \"Model X\", \"Model 3\", \"Model Y\"],\n    [\"Tesla\", \"Model S\", \"Model X\", \"Model 3\", \"Model Y\"],\n    [\"Tesla\", \"Model S\", \"Model X\", \"Model 3\", \"Model Y\"],\n    [\"Tesla\", \"Model S\", \"Model X\", \"Model 3\", \"Model Y\"],\n    [\"Tesla\", \"Model S\", \"Model X\", \"Model 3\", \"Model Y\"],\n    [\"Volkswagen\", \"e-up!\", \"ID.4\", \"ID.3\"]\n];\n    \n    \nfor (i = 0; i < 100; i++) {\n\n    car_brand_index = Math.floor(Math.random()*cars_brands_and_modells.length);\n    car_modell_index = Math.floor(Math.random() * (cars_brands_and_modells[car_brand_index].length-1)) + 1\n    \n    cusomterObject = new Object();\n    cusomterObject.customer_id = 1000+i\n    \n    cusomterObject.allow_dynamic_charging = Math.random() < 0.5;\n    cusomterObject.car_brand = cars_brands_and_modells[car_brand_index][0]\n    cusomterObject.car_modell = cars_brands_and_modells[car_brand_index][car_modell_index]\n    var newMsg = cusomterObject;\n    customer_list.push(newMsg);\n    node.log(\"Test\");\n}\n\n\nreturn { payload: customer_list};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 660,
        "wires": [
            [
                "8b59e67.5003e18"
            ]
        ]
    },
    {
        "id": "635f82f5.5031ec",
        "type": "inject",
        "z": "ed02ca62.53a888",
        "g": "e18cf721.789868",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\t    \"Nachricht\": \"Test\"\t}",
        "payloadType": "jsonata",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "9aa878b2.7e4fc8"
            ]
        ]
    },
    {
        "id": "e0245f42.72c66",
        "type": "debug",
        "z": "ed02ca62.53a888",
        "g": "e18cf721.789868",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 660,
        "wires": []
    },
    {
        "id": "8b59e67.5003e18",
        "type": "change",
        "z": "ed02ca62.53a888",
        "g": "e18cf721.789868",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "owner_data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 660,
        "wires": [
            [
                "e0245f42.72c66"
            ]
        ]
    },
    {
        "id": "cb546c79.86a36",
        "type": "function",
        "z": "ed02ca62.53a888",
        "name": "assign car owner from flow.owner_data to each charge position",
        "func": "\n\nowner_data = flow.get('owner_data')\nif (owner_data.lenght <= 0) {\n    node.error(\"owner_data list not set!\");\n}\n\n\n\nowner = owner_data[Math.floor(Math.random()*owner_data.length)]\nfor (var attrname in owner) \n{ \n    msg.payload[attrname] = owner[attrname]; \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 820,
        "wires": [
            [
                "c26eb7cb.5e5418"
            ]
        ]
    },
    {
        "id": "ae590747.f884b8",
        "type": "change",
        "z": "ed02ca62.53a888",
        "g": "bb4f1610.11fe18",
        "name": "remove owner_data list",
        "rules": [
            {
                "t": "set",
                "p": "owner_data",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "bf7b10fd.4b39",
        "type": "inject",
        "z": "ed02ca62.53a888",
        "g": "bb4f1610.11fe18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "ae590747.f884b8"
            ]
        ]
    },
    {
        "id": "d12d92da.acfee",
        "type": "comment",
        "z": "ed02ca62.53a888",
        "g": "e18cf721.789868",
        "name": "This need to be executed once. Afterwards the owner array is saved as a consistent flow variable",
        "info": "",
        "x": 410,
        "y": 620,
        "wires": []
    },
    {
        "id": "32b22e53.929182",
        "type": "comment",
        "z": "ed02ca62.53a888",
        "g": "bb4f1610.11fe18",
        "name": "This can be used to reset the owner array",
        "info": "",
        "x": 240,
        "y": 440,
        "wires": []
    }
]