flow.json
[
    {
        "id": "f679c5ec.fb0428",
        "type": "tab",
        "label": "ks-Anonymization",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ed02ca62.53a888",
        "type": "tab",
        "label": "Smart Metering Emulator",
        "disabled": false,
        "info": ""
    },
    {
        "id": "540182c4.0cacec",
        "type": "tab",
        "label": "Test Emulator Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "44f2dba4.713184",
        "type": "tab",
        "label": "Statistics Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "19ca91ba.af4a0e",
        "type": "group",
        "z": "ed02ca62.53a888",
        "name": "Emulate Streaming Data behavior",
        "style": {
            "fill": "#ffdf7f",
            "label": true,
            "stroke": "#ffcf3f",
            "stroke-opacity": "0.9",
            "color": "#000000",
            "fill-opacity": "0.54"
        },
        "nodes": [
            "35d218ec.92f1a8",
            "e037e8eb.0ee838",
            "1254bb0d.f4bed5",
            "64956d74.3c8114",
            "7cd7f126.df78f",
            "dea57652.5dd918",
            "30d43126.1cfa7e",
            "af7a7e82.6723",
            "e40e3cc8.f834a",
            "cd3849d4.f79028",
            "28a756fd.4545fa",
            "32da1711.188a98",
            "3265ef6c.64d51",
            "c31fb50a.688e08",
            "ea0e6436.fe7f48",
            "654f3a99.58aee4",
            "ba07826a.d32f7",
            "6b539d68.cb4084",
            "229b79e8.7b8126",
            "a959b3c1.798d9",
            "f693f0a.47f881",
            "641acf84.f005d",
            "e09eb717.fa45b8",
            "8174f40c.6028c8",
            "823ba3c8.21647",
            "37f1ba8b.669dd6",
            "662a9b9d.ee6c94"
        ],
        "x": 1534,
        "y": 619,
        "w": 692,
        "h": 562
    },
    {
        "id": "e18cf721.789868",
        "type": "group",
        "z": "ed02ca62.53a888",
        "name": "generate car owner persona list once",
        "style": {
            "label": true
        },
        "nodes": [
            "9aa878b2.7e4fc8",
            "635f82f5.5031ec",
            "e0245f42.72c66",
            "8b59e67.5003e18",
            "d12d92da.acfee"
        ],
        "x": 54,
        "y": 579,
        "w": 872,
        "h": 122
    },
    {
        "id": "bb4f1610.11fe18",
        "type": "group",
        "z": "ed02ca62.53a888",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ae590747.f884b8",
            "bf7b10fd.4b39",
            "32b22e53.929182"
        ],
        "x": 54,
        "y": 399,
        "w": 452,
        "h": 122
    },
    {
        "id": "e68402fe.4fdb1",
        "type": "group",
        "z": "f679c5ec.fb0428",
        "name": "Reduce",
        "style": {
            "label": true,
            "stroke": "#0070c0",
            "fill": "#7fb7df",
            "color": "#ffffff"
        },
        "nodes": [
            "90b35571.f8d888",
            "df294483.fe09f8",
            "68b4cef9.78d8a",
            "fab68f12.e9ea8",
            "a5b2d809.243ba8",
            "f960e58b.28ccf8",
            "3fd6dcd1.eb1a14"
        ],
        "x": 624,
        "y": 179,
        "w": 1122,
        "h": 262
    },
    {
        "id": "261b9b5a.56f684",
        "type": "mqtt-broker",
        "name": "fog_emulator_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f6fed640.1136b8",
        "type": "exec",
        "z": "f679c5ec.fb0428",
        "command": "python3 \"C:\\Users\\Roschy\\Downloads\\CASTLEGUARD-master\\src\\main.py\"  ",
        "addpay": "",
        "append": " --filename \"C:\\Users\\Roschy\\Downloads\\CASTLEGUARD-master\\example.csv\" --sample-size 1000 --k 10 --l 5 --delta 200 --seed 42 --disable-dp --display --history",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "run CASTLEGUARD with exampledata",
        "x": 670,
        "y": 920,
        "wires": [
            [
                "cf0b65f9.007318",
                "9ac6163.941a0e8"
            ],
            [
                "cf0b65f9.007318"
            ],
            [
                "cf0b65f9.007318"
            ]
        ]
    },
    {
        "id": "cf0b65f9.007318",
        "type": "debug",
        "z": "f679c5ec.fb0428",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 920,
        "wires": []
    },
    {
        "id": "b61e65dd.8c1408",
        "type": "inject",
        "z": "f679c5ec.fb0428",
        "name": "not the start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 920,
        "wires": [
            [
                "f6fed640.1136b8"
            ]
        ]
    },
    {
        "id": "37891673.84bf2a",
        "type": "csv",
        "z": "ed02ca62.53a888",
        "name": "convert csv to object stream",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 580,
        "y": 840,
        "wires": [
            [
                "cb546c79.86a36"
            ]
        ]
    },
    {
        "id": "49c088f6.9ba0c8",
        "type": "file in",
        "z": "ed02ca62.53a888",
        "name": "load file example csv",
        "filename": "Electric_Vehicle_Charging_Station_Energy_Consumption (1).csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 340,
        "y": 840,
        "wires": [
            [
                "37891673.84bf2a"
            ]
        ]
    },
    {
        "id": "abe891b5.42669",
        "type": "inject",
        "z": "ed02ca62.53a888",
        "name": "click to start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "49c088f6.9ba0c8"
            ]
        ]
    },
    {
        "id": "35d218ec.92f1a8",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1800,
        "y": 660,
        "wires": [
            [
                "e037e8eb.0ee838"
            ]
        ]
    },
    {
        "id": "c26eb7cb.5e5418",
        "type": "switch",
        "z": "ed02ca62.53a888",
        "name": "",
        "property": "payload.Station_Name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BOULDER / AIRPORT ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / ALPINE ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / ANNEX ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / ATRIUM ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / BASELINE ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / BOULDER PARK S1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / BOULDER PARK S2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / CARPENTER PARK1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / CARPENTER PARK2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / EAST REC",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / FACILITIES ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / JUNCTION ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / N BOULDER REC 1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / REC CENTER ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / REC CENTER ST2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / RESERVOIR ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDER / RESERVOIR ST2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BOULDERJUNCTION / JUNCTION ST1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 1000WALNUT1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 1000WALNUT2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 1100WALNUT1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 1104 SPRUCE1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 1400 WALNUT1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 1500PEARL1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 1500PEARL2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / 2200 BROADWAY1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMM VITALITY / BOULDER JCTN",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 27,
        "x": 1250,
        "y": 840,
        "wires": [
            [
                "e40e3cc8.f834a"
            ],
            [
                "cd3849d4.f79028"
            ],
            [
                "28a756fd.4545fa"
            ],
            [
                "32da1711.188a98"
            ],
            [
                "ea0e6436.fe7f48"
            ],
            [
                "6b539d68.cb4084"
            ],
            [
                "f693f0a.47f881"
            ],
            [
                "8174f40c.6028c8"
            ],
            [
                "662a9b9d.ee6c94"
            ],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "e037e8eb.0ee838",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/AIRPORT_ST1",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2040,
        "y": 660,
        "wires": []
    },
    {
        "id": "a696094b.7a8d38",
        "type": "mqtt in",
        "z": "540182c4.0cacec",
        "name": "",
        "topic": "BOULDER/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "261b9b5a.56f684",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "27eaa992.590db6"
            ]
        ]
    },
    {
        "id": "1254bb0d.f4bed5",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1800,
        "y": 720,
        "wires": [
            [
                "64956d74.3c8114"
            ]
        ]
    },
    {
        "id": "64956d74.3c8114",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/ALPINE_ST1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2030,
        "y": 720,
        "wires": []
    },
    {
        "id": "7cd7f126.df78f",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1800,
        "y": 780,
        "wires": [
            [
                "dea57652.5dd918"
            ]
        ]
    },
    {
        "id": "dea57652.5dd918",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/ANNEX_ST1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2030,
        "y": 780,
        "wires": []
    },
    {
        "id": "30d43126.1cfa7e",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1800,
        "y": 840,
        "wires": [
            [
                "af7a7e82.6723"
            ]
        ]
    },
    {
        "id": "af7a7e82.6723",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/ATRIUM_ST1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2030,
        "y": 840,
        "wires": []
    },
    {
        "id": "27eaa992.590db6",
        "type": "json",
        "z": "540182c4.0cacec",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "e40e3cc8.f834a",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1610,
        "y": 660,
        "wires": [
            [
                "35d218ec.92f1a8"
            ]
        ]
    },
    {
        "id": "cd3849d4.f79028",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1610,
        "y": 720,
        "wires": [
            [
                "1254bb0d.f4bed5"
            ]
        ]
    },
    {
        "id": "28a756fd.4545fa",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1610,
        "y": 780,
        "wires": [
            [
                "7cd7f126.df78f"
            ]
        ]
    },
    {
        "id": "32da1711.188a98",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1610,
        "y": 840,
        "wires": [
            [
                "30d43126.1cfa7e"
            ]
        ]
    },
    {
        "id": "3265ef6c.64d51",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1800,
        "y": 900,
        "wires": [
            [
                "c31fb50a.688e08"
            ]
        ]
    },
    {
        "id": "c31fb50a.688e08",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/BASELINE_ST1",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2040,
        "y": 900,
        "wires": []
    },
    {
        "id": "ea0e6436.fe7f48",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1610,
        "y": 900,
        "wires": [
            [
                "3265ef6c.64d51"
            ]
        ]
    },
    {
        "id": "654f3a99.58aee4",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1800,
        "y": 960,
        "wires": [
            [
                "ba07826a.d32f7"
            ]
        ]
    },
    {
        "id": "ba07826a.d32f7",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/BOULDER_PARK/S1",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2060,
        "y": 960,
        "wires": []
    },
    {
        "id": "6b539d68.cb4084",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1610,
        "y": 960,
        "wires": [
            [
                "654f3a99.58aee4"
            ]
        ]
    },
    {
        "id": "229b79e8.7b8126",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1800,
        "y": 1020,
        "wires": [
            [
                "a959b3c1.798d9"
            ]
        ]
    },
    {
        "id": "a959b3c1.798d9",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/BOULDER_PARK/S2",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2060,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f693f0a.47f881",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1610,
        "y": 1020,
        "wires": [
            [
                "229b79e8.7b8126"
            ]
        ]
    },
    {
        "id": "641acf84.f005d",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1800,
        "y": 1080,
        "wires": [
            [
                "e09eb717.fa45b8"
            ]
        ]
    },
    {
        "id": "e09eb717.fa45b8",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/CARPENTER_PARK/1",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2060,
        "y": 1080,
        "wires": []
    },
    {
        "id": "8174f40c.6028c8",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1610,
        "y": 1080,
        "wires": [
            [
                "641acf84.f005d"
            ]
        ]
    },
    {
        "id": "823ba3c8.21647",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1800,
        "y": 1140,
        "wires": [
            [
                "37f1ba8b.669dd6"
            ]
        ]
    },
    {
        "id": "37f1ba8b.669dd6",
        "type": "mqtt out",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "topic": "BOULDER/CARPENTER_PARK/2",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "261b9b5a.56f684",
        "x": 2060,
        "y": 1140,
        "wires": []
    },
    {
        "id": "662a9b9d.ee6c94",
        "type": "delay",
        "z": "ed02ca62.53a888",
        "g": "19ca91ba.af4a0e",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1610,
        "y": 1140,
        "wires": [
            [
                "823ba3c8.21647"
            ]
        ]
    },
    {
        "id": "9aa878b2.7e4fc8",
        "type": "function",
        "z": "ed02ca62.53a888",
        "g": "e18cf721.789868",
        "name": "generate car owners",
        "func": "\ncustomer_list = Array();\ncars_brands_and_modells = [\n    [\"Audi\", \"e-tron 55\", \"e-tron 50\"],\n    [\"BMW\", \"i3\"],\n    [\"Ford\", \"Focus Electric\", \"Mustang Mach-E\", \"Ford F-150 Lightning electric pickup\"],\n    [\"Hyundai\", \"Ioniq Electric\", \"Kona Electric\"],\n    [\"Jaguar\", \"I-Pace\"],\n    [\"Mercedes-Benz\", \"B-Class Electric Drive\", \"EQC\"],\n    [\"Peugeot\", \"Peugeot iOn\", \"e208\", \"e2008\"],\n    [\"Renault\", \"Fluence Z.E.\", \"SM3 Z.E.\", \"Zoe\", \"Twizy\", \"Kangoo Z.E.\"],\n    [\"Tesla\", \"Model S\", \"Model X\", \"Model 3\", \"Model Y\"],\n    [\"Tesla\", \"Model S\", \"Model X\", \"Model 3\", \"Model Y\"],\n    [\"Tesla\", \"Model S\", \"Model X\", \"Model 3\", \"Model Y\"],\n    [\"Tesla\", \"Model S\", \"Model X\", \"Model 3\", \"Model Y\"],\n    [\"Tesla\", \"Model S\", \"Model X\", \"Model 3\", \"Model Y\"],\n    [\"Tesla\", \"Model S\", \"Model X\", \"Model 3\", \"Model Y\"],\n    [\"Volkswagen\", \"e-up!\", \"ID.4\", \"ID.3\"]\n];\n    \n    \nfor (i = 0; i < 100; i++) {\n\n    car_brand_index = Math.floor(Math.random()*cars_brands_and_modells.length);\n    car_modell_index = Math.floor(Math.random() * (cars_brands_and_modells[car_brand_index].length-1)) + 1\n    \n    cusomterObject = new Object();\n    cusomterObject.customer_id = 1000+i\n    \n    cusomterObject.allow_dynamic_charging = Math.random() < 0.5;\n    cusomterObject.car_brand = cars_brands_and_modells[car_brand_index][0]\n    cusomterObject.car_modell = cars_brands_and_modells[car_brand_index][car_modell_index]\n    var newMsg = cusomterObject;\n    customer_list.push(newMsg);\n    node.log(\"Test\");\n}\n\n\nreturn { payload: customer_list};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 660,
        "wires": [
            [
                "8b59e67.5003e18"
            ]
        ]
    },
    {
        "id": "635f82f5.5031ec",
        "type": "inject",
        "z": "ed02ca62.53a888",
        "g": "e18cf721.789868",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\t    \"Nachricht\": \"Test\"\t}",
        "payloadType": "jsonata",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "9aa878b2.7e4fc8"
            ]
        ]
    },
    {
        "id": "e0245f42.72c66",
        "type": "debug",
        "z": "ed02ca62.53a888",
        "g": "e18cf721.789868",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 660,
        "wires": []
    },
    {
        "id": "8b59e67.5003e18",
        "type": "change",
        "z": "ed02ca62.53a888",
        "g": "e18cf721.789868",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "owner_data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 660,
        "wires": [
            [
                "e0245f42.72c66"
            ]
        ]
    },
    {
        "id": "cb546c79.86a36",
        "type": "function",
        "z": "ed02ca62.53a888",
        "name": "assign car owner from flow.owner_data to each charge position",
        "func": "\n\nowner_data = flow.get('owner_data')\nif (owner_data.lenght <= 0) {\n    node.error(\"owner_data list not set!\");\n}\n\n\n\nowner = owner_data[Math.floor(Math.random()*owner_data.length)]\nfor (var attrname in owner) \n{ \n    msg.payload[attrname] = owner[attrname]; \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 840,
        "wires": [
            [
                "c26eb7cb.5e5418"
            ]
        ]
    },
    {
        "id": "ae590747.f884b8",
        "type": "change",
        "z": "ed02ca62.53a888",
        "g": "bb4f1610.11fe18",
        "name": "remove owner_data list",
        "rules": [
            {
                "t": "set",
                "p": "owner_data",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "bf7b10fd.4b39",
        "type": "inject",
        "z": "ed02ca62.53a888",
        "g": "bb4f1610.11fe18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "ae590747.f884b8"
            ]
        ]
    },
    {
        "id": "d12d92da.acfee",
        "type": "comment",
        "z": "ed02ca62.53a888",
        "g": "e18cf721.789868",
        "name": "This need to be executed once. Afterwards the owner array is saved as a consistent flow variable",
        "info": "",
        "x": 410,
        "y": 620,
        "wires": []
    },
    {
        "id": "32b22e53.929182",
        "type": "comment",
        "z": "ed02ca62.53a888",
        "g": "bb4f1610.11fe18",
        "name": "This can be used to reset the owner array",
        "info": "",
        "x": 240,
        "y": 440,
        "wires": []
    },
    {
        "id": "daf32e0d.4e388",
        "type": "function",
        "z": "f679c5ec.fb0428",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 720,
        "wires": [
            [
                "927d9d9b.c3e63"
            ]
        ]
    },
    {
        "id": "a78b2856.660da8",
        "type": "function",
        "z": "f679c5ec.fb0428",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 760,
        "wires": [
            [
                "927d9d9b.c3e63"
            ]
        ]
    },
    {
        "id": "f85dabf2.464b98",
        "type": "function",
        "z": "f679c5ec.fb0428",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 800,
        "wires": [
            [
                "927d9d9b.c3e63"
            ]
        ]
    },
    {
        "id": "927d9d9b.c3e63",
        "type": "debug",
        "z": "f679c5ec.fb0428",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 780,
        "wires": []
    },
    {
        "id": "9ac6163.941a0e8",
        "type": "csv",
        "z": "f679c5ec.fb0428",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 890,
        "y": 760,
        "wires": [
            [
                "f85dabf2.464b98",
                "a78b2856.660da8",
                "daf32e0d.4e388"
            ]
        ]
    },
    {
        "id": "bcab5cd0.2e945",
        "type": "mqtt in",
        "z": "f679c5ec.fb0428",
        "name": "",
        "topic": "BOULDER/ANNEX_ST1",
        "qos": "2",
        "datatype": "auto",
        "broker": "261b9b5a.56f684",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 840,
        "wires": [
            [
                "3f3e43a1.ef80bc"
            ]
        ]
    },
    {
        "id": "412a7a0a.4480b4",
        "type": "json",
        "z": "f679c5ec.fb0428",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 840,
        "wires": [
            [
                "59a8db21.f64004"
            ]
        ]
    },
    {
        "id": "a50558b1.62fbe8",
        "type": "file",
        "z": "f679c5ec.fb0428",
        "name": "",
        "filename": "output",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 630,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "59a8db21.f64004",
        "type": "debug",
        "z": "f679c5ec.fb0428",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 840,
        "wires": []
    },
    {
        "id": "afcb8dcd.5148c",
        "type": "function",
        "z": "44f2dba4.713184",
        "name": "discernibility_metric",
        "func": "metric = 0;\nk = msg.payload.k;\n//quasi_identifiers = msg.payload.quasi_identifiers;\nequivalenceClassColumn = msg.payload.equivalenceClassColumn;\ndataframe = msg.payload.categorizedDataframe\n\nnode.warn({\"dataframe\": dataframe});\nnode.warn({\"equivalenceClassColumn\": equivalenceClassColumn});\n\n\nequivalenceClassColumnIndex = dataframe[0].indexOf(equivalenceClassColumn);\ndataframe_t = dataframe[0].map((_, colIndex) => dataframe.map(row => row[colIndex]));\n\n\nfor (var value of new Set(dataframe_t[equivalenceClassColumnIndex].slice(1))){\n    counter = 0;\n    for (var entry of dataframe_t[equivalenceClassColumnIndex].slice(1)) {\n        \n        if(entry == value) {\n            counter++;\n        }\n    }\n    \n    eq_class_size = counter;\n    node.warn({\"eq_class_size\": eq_class_size, \"msg\":msg});\n    if (eq_class_size >= k){\n        metric += Math.pow(eq_class_size, 2)\n    }\n    else {\n        metric += dataframe.length * eq_class_size\n    }\n}\n\n//msg.payload.discernibilityMetric = metric;\n\nmsg = {payload: new Object()};\nmsg.payload.discernibilityMetric = metric;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 420,
        "wires": [
            [
                "b69cba0d.89a368"
            ]
        ]
    },
    {
        "id": "a9c0de1.34c292",
        "type": "inject",
        "z": "44f2dba4.713184",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\t    \"Nachricht\": \"Test\", \t    \"equivalenceClassColumn\":\"equivalenceClass\",\t    \"k\": 3,\t    \"quasiIdentifiers\": [\"job\", \"age\", \"pin\"]\t}",
        "payloadType": "jsonata",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "940cf07b.c7c35"
            ]
        ]
    },
    {
        "id": "b69cba0d.89a368",
        "type": "debug",
        "z": "44f2dba4.713184",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 540,
        "wires": []
    },
    {
        "id": "940cf07b.c7c35",
        "type": "function",
        "z": "44f2dba4.713184",
        "name": "categorize columns",
        "func": "dataframe = msg.payload.dataframe;\ncolumnNames = msg.payload.columnNames;\n\ncolumnNames = [\"pin\", \"job\"]\n\ndataframe = [\n    [\"job\", \"age\", \"pin\", \"equivalenceClass\"],\n    [\"TGT1\", 49, 132042, 1],\n    [\"PGT1\", 40, 132021, 0], \n    [\"PPRT1\", 44, 132024, 0], \n    [\"TGT\", 48, 132046, 1],\n    [\"PPRT\", 45, 132045, 1],\n    [\"PGT\", 43, 132027, 0],\n    [\"PGT\", 49, 132046, 0]\n    ];\n\n\n\ndataframeUniqueSet = [];\n\n\ndataframe_t = dataframe;\n\ndataframe_t = dataframe[0].map((_, colIndex) => dataframe.map(row => row[colIndex]));\n\n\ncategorizedDataframe_t = dataframe_t.map(function(arr) {return arr.slice();});\n\nnode.warn({\"dataframe_t = \": dataframe_t, \"msg\":msg});\nnode.warn({\"dataframe = \": dataframe, \"msg\":msg});\n\ndataframeSet = []\n\nfor (var row = 0; row < dataframe_t.length; row++) {\n    if (columnNames.includes(dataframe_t[row][0])) {\n        // create set to keep only unique entries\n        // slice because the first one is the name\n        dataframeUniqueSet[row] = new Set(dataframe_t[row].slice(1))\n        \n        // set categories based on the unique values\n        // skip first col as it is the name\n        for (var col = 1; col < dataframe_t[row].length; col++) {\n            dataframeRowUniqueArray = Array.from(dataframeUniqueSet[row]);\n            categorizedDataframe_t[row][col] = (dataframeRowUniqueArray.indexOf(dataframe_t[row][col])) + 1;\n        }\n    }\n}\n\nnode.warn({\"categorizedDataframe_t\": categorizedDataframe_t, \"msg\":msg});\nnode.warn({\"dataframe_t\": dataframe_t, \"msg\":msg});\n\n\ncategorizedDataframe = categorizedDataframe_t[0].map((_, colIndex) => categorizedDataframe_t.map(row => row[colIndex]));\n\nmsg.payload.categorizedDataframe = categorizedDataframe;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 540,
        "wires": [
            [
                "8a307ca1.e69e3",
                "5db08302.ab82ac",
                "afcb8dcd.5148c"
            ]
        ]
    },
    {
        "id": "5db08302.ab82ac",
        "type": "function",
        "z": "44f2dba4.713184",
        "name": "average_class_size",
        "func": "k = msg.payload.k;\n//quasi_identifiers = msg.payload.quasi_identifiers;\nequivalenceClassColumn = msg.payload.equivalenceClassColumn;\ndataframe = msg.payload.categorizedDataframe\n\nnode.warn({\"dataframe\": dataframe});\nnode.warn({\"equivalenceClassColumn\": equivalenceClassColumn});\n\n// get the index of the equivalenc class column\nequivalenceClassColumnIndex = dataframe[0].indexOf(equivalenceClassColumn);\n\n// transpose matrix for easier access\ndataframe_t = dataframe[0].map((_, colIndex) => dataframe.map(row => row[colIndex]));\n\n// get number of unique equivalenceclasses and calculate with them \n// slice because first entry is name\naverageClassSize = (dataframe.length-1) / (new Set(dataframe_t[equivalenceClassColumnIndex].slice(1)).size * k)\n\nmsg = {payload: {}};\nmsg.payload.averageClassSize = averageClassSize;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 480,
        "wires": [
            [
                "b69cba0d.89a368"
            ]
        ]
    },
    {
        "id": "8a307ca1.e69e3",
        "type": "function",
        "z": "44f2dba4.713184",
        "name": "generalized_information_loss",
        "func": "metric = 0;\nk = msg.payload.k;\nquasiIdentifiers = msg.payload.quasiIdentifiers;\nequivalenceClassColumn = msg.payload.equivalenceClassColumn;\ndataframe = msg.payload.categorizedDataframe\n\nnode.warn({\"msg\": msg});\nnode.warn({\"dataframe\": dataframe});\nnode.warn({\"quasiIdentifiers\": quasiIdentifiers});\nnode.warn({\"equivalenceClassColumn\": equivalenceClassColumn});\n\n// get the index of the equivalenc class column\nequivalenceClassColumnIndex = dataframe[0].indexOf(equivalenceClassColumn);\n// transpose matrix for easier access\ndataframe_t = dataframe[0].map((_, colIndex) => dataframe.map(row => row[colIndex]));\nnode.warn({\"dataframe_t\": dataframe_t});\n\ninformationLoss = 0;\n\neqClasses = new Set(dataframe_t[equivalenceClassColumnIndex].slice(1));\n\n\nvar ui = [];\nvar li = [];\n\n// get the min and max values per categorie. Skip the first as its the name in the transposed array.\nfor (var i = 0; i < dataframe_t.length; i++) { \n    ui[i] = Math.max.apply(Math, dataframe_t[i].slice(1));\n    li[i] = Math.min.apply(Math, dataframe_t[i].slice(1));\n    /*\n    if(dataframe_t[i][0] != \"age\") {\n        ui[i] += 1;\n        li[i] += 1;\n    }\n    */\n}\n\n//node.warn({\"ui\":ui});\n//node.warn({\"li\":li});\n\nfor (var eqClass of eqClasses) {\n\n    entriesWithEqClass = dataframe.filter(([age, job, pin, equivalenceClass]) => equivalenceClass == eqClass);\n    entriesWithEqClass_t = entriesWithEqClass[0].map((_, colIndex) => entriesWithEqClass.map(row => row[colIndex]));\n    \n    //node.warn({\"entriesWithEqClass_t\":entriesWithEqClass_t});\n    \n    var uij = [];\n    var lij = [];\n    \n    // the transposed array contain all values of one categorie in a line. \n    // dataframe_t.length == entriesWithEqClass_t.length because its transposed so its the number of the categories.\n    // dataframe_t.length - 1 because last categorie is equivalenceClass\n    for (var j = 0; j < dataframe_t.length - 1; j++) {\n        uij[j] = Math.max.apply(Math, entriesWithEqClass_t[j]);\n        lij[j] = Math.min.apply(Math, entriesWithEqClass_t[j]);\n        \n        informationLoss += ((uij[j] - lij[j]) / (ui[j] - li[j])) * (entriesWithEqClass.length)\n        //node.warn({\" Math.max(entriesWithEqClass_t[j])\":  Math.max.apply(Math, entriesWithEqClass_t[j])});\n    }\n}\n/*\nfor (var i = 0; i < dataframe.length; i++) {\n        for (var j = 0; j < dataframe[i].length) {\n            informationLoss += ((uij[j] - lij[j]) / (ui[j] - li[j]))\n            node.warn({\" Math.max(entriesWithEqClass_t[j])\":  Math.max.apply(Math, entriesWithEqClass_t[j])});\n        }\n    }\n*/\nfactor = 1 / (quasiIdentifiers.length * dataframe.length)\nresult = factor * informationLoss\n\nnode.warn({\"informationLoss\": informationLoss});\nnode.warn({\"generalized_information_loss\": result});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 600,
        "wires": [
            [
                "b69cba0d.89a368"
            ]
        ]
    },
    {
        "id": "71a629df.3215c8",
        "type": "comment",
        "z": "f679c5ec.fb0428",
        "name": "TODO: filter, reduce, statistiken",
        "info": "",
        "x": 170,
        "y": 360,
        "wires": []
    },
    {
        "id": "90b35571.f8d888",
        "type": "change",
        "z": "f679c5ec.fb0428",
        "g": "e68402fe.4fdb1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "disallowed_columns",
                "pt": "flow",
                "to": "payload.disallowed_columns",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 280,
        "wires": [
            [
                "df294483.fe09f8"
            ]
        ]
    },
    {
        "id": "df294483.fe09f8",
        "type": "function",
        "z": "f679c5ec.fb0428",
        "g": "e68402fe.4fdb1",
        "name": "",
        "func": "return {payload : flow.get('disallowed_columns')};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 280,
        "wires": [
            [
                "fab68f12.e9ea8"
            ]
        ]
    },
    {
        "id": "68b4cef9.78d8a",
        "type": "inject",
        "z": "f679c5ec.fb0428",
        "g": "e68402fe.4fdb1",
        "name": "set disallowed columns",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"disallowed_columns\":[\"ObjectId\",\"Address\",\"City\"]}",
        "payloadType": "json",
        "x": 770,
        "y": 280,
        "wires": [
            [
                "90b35571.f8d888"
            ]
        ]
    },
    {
        "id": "fab68f12.e9ea8",
        "type": "debug",
        "z": "f679c5ec.fb0428",
        "g": "e68402fe.4fdb1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 280,
        "wires": []
    },
    {
        "id": "a5b2d809.243ba8",
        "type": "debug",
        "z": "f679c5ec.fb0428",
        "g": "e68402fe.4fdb1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 400,
        "wires": []
    },
    {
        "id": "e7a2278.10e2fd8",
        "type": "debug",
        "z": "f679c5ec.fb0428",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 620,
        "wires": []
    },
    {
        "id": "3f3e43a1.ef80bc",
        "type": "json",
        "z": "f679c5ec.fb0428",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 540,
        "wires": [
            [
                "f960e58b.28ccf8"
            ]
        ]
    },
    {
        "id": "f960e58b.28ccf8",
        "type": "function",
        "z": "f679c5ec.fb0428",
        "g": "e68402fe.4fdb1",
        "name": "remove disallowed columns / properties from messages",
        "func": "for (var [id, blacklistedProperty] of Object.entries(flow.get(\"disallowed_columns\"))) {\n    delete msg.payload[blacklistedProperty];\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 400,
        "wires": [
            [
                "a5b2d809.243ba8"
            ]
        ]
    },
    {
        "id": "3fd6dcd1.eb1a14",
        "type": "comment",
        "z": "f679c5ec.fb0428",
        "g": "e68402fe.4fdb1",
        "name": "Send json with array msg payload property \"disallowed_columns\" to this node or modifie the previous node accordingly",
        "info": "",
        "x": 1320,
        "y": 220,
        "wires": []
    }
]